.column {
    float: left;
    width: 33.33%;
    min-height: calc(100vh - 48px);
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.todo{
    background-color: yellow;
}
.inProgress{
    background-color: yellowgreen;
}
.done{
    background-color: forestgreen;
}

.card{
    background-color: lavenderblush;
    margin-bottom: 5px;
}